body{
    font-family: 'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

#gameBoard{
    width: 350px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

.field{
    margin: 0px;
    appearance: none;
    border: none;
    background: none;
}

.field.p{
    padding: 0px;
    margin: 0px;
}

.no-l-t{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.no-t{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left:3px solid black;
}

.no-r-t{
    border-left: 3px solid black;
    border-bottom: 3px solid black;    
}

.no-l{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.all{
    border: 3px solid black;
}

.no-r{
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.no-l-b{
    border-right: 3px solid black;
    border-top: 3px solid black;
}

.no-b{
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.no-r-b{
    border-left: 3px solid black;
    border-top: 3px solid black;
}

.markersContainer{
    display: flex;
    margin: 20px 15px;
}

.markerDiv{
    margin: 20px;
    padding: 10px;
    font-weight: 950;
    font-size: 18px;
    box-shadow: 2px 2px 3px gray;
    background: none;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    width: 100px;
}

.markerDiv:hover{
    background-color: rgb(230, 224, 224);
}
